<html>
	<head ></head>
	<body>
		<div ></div>
		
		<div class="container">
			<div ></div>
			<form  method="post"  class="card-body">
				<input  type="hidden">
		
				<div class="form-group">
					<label for="nome">Nome:</label>
					<input class="form-control" placeholder="Nome do leilão">
					<small>Coloque um nome expressivo</small>
					<p class="alert alert-danger" >
				</div>
			
				<div class="form-group">
					<label for="valorInicial">Valor inicial:</label>
					<input class="form-control" placeholder="Valor inicial">
					<small>Coloque um valor > 0.1</small>
					<p class="alert alert-danger">
				</div>
			
				<div class="form-group">
					<label for="dataAbertura">Data Abertura:</label>
					<input id="dataAbertura" name="dataAbertura" 
					class="form-control" placeholder="Data de abertura" type="text">
					<small>Coloque uma data no formato dd/MM/yyyy</small>
					<p class="alert alert-danger" >
				</div>
			
				<div class="form-group">
					<label for="usuario">Usuário:</label>
					<input  class="form-control" placeholder="Nome do Usuário" type="text" readonly>
				</div>

				<button class="btn btn-primary" id="button-submit" type="submit" role="button">Salvar</button>
			</form>
	
			<a class="btn btn-primary mt-2"  role="button">Voltar</a>
		</div>
	</body>
</html>
